@model FilmuPaieskaViewModel

@{
    ViewBag.Title = "Film DB";
}

<h1>Filmų sąrašas</h1>

<div class="form-group row">
    <div class="col-sm-10">
        <a asp-controller="home" asp-action="create">Sukurti naują įrašą</a>
    </div>
</div>

<h2>Filmų sąrašas tuščias</h2>


