@{
    ViewBag.Title = "Film DB";
}

<h1>
    Sveiki!
</h1>

<p>
    Čia rasite filmų sąrašą, kurį galėsite papildyti naujais įrašais, taip pat redaguoti ar ištrinti esamus. 
    Papildomai padarytas žanrų ir aktorių informacijos įvedimas, redagavimas bei šalinimas.
    Taigi, pasirinkite nuo ko pradėsite:

    <ul>
        <li>
            <a asp-controller="home" asp-action="filmusarasas">Filmų sąrašas</a>
        </li>
        <li>
            <a asp-controller="zanrai" asp-action="zanruindex">Žanrų sąrašas</a>
        </li>
        <li>
            <a asp-controller="aktoriai" asp-action="aktoriuindex">Aktorių sąrašas</a>
        </li>
    </ul>
</p>