@model ZanraiIstrynimasBeFilmuListViewModel

@{
    ViewBag.Title = "Žanro ištrynimas";
}

<div>
    <h4>Ar tikrai norite ištrinti žanrą iš žanrų sąrašo?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Pavadinimas
        </dt>
        <dd class="col-sm-10">
            @Model.Zanrai.Pavadinimas
        </dd>
    </dl>
</div>

<table class="table">
    <tbody>
        <tr><td>Filmų, kurie turi ištrinamą žanrą, nerasta</td></tr>
    </tbody>
</table>

<hr />

<form asp-controller="zanrai" asp-action="delete_bezanrai">
    <input type="submit" value="Ištrinti žanrą ir grįžti į filmo sukūrimą" /> |
    <a asp-controller="home" asp-action="create">Atšaukti ir grįžti į filmo sukūrimą</a>
</form>